/** {
  border: thin solid red;
}*/

body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #394147;
}

#sidebar a {
  color: #7d7d7d;
  text-decoration: none;
}

#sidebar a:hover {
  color: #455A64;
  transition: color 300ms
}

#sidebar ul {
  padding-left: 0px;
  text-align: center;
  margin: 50px 0;
}

#sidebar li {
  padding: 30px;
}

#content {
  margin-left: 120px;
}

.container {
  width: 610px;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2)
}

.text-center {
  text-align: center;
}

.top-bottom-padding {
  padding: 40px 20px;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #00AA8D;
  font-weight: 900px;
}

h2 {
    text-align: center;
}

.avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: #F7F7F7;
}

.size-250px {
  width: 225px;
  height: 225px;
}

#content a {
  text-decoration: none;
  color: #00AA8D;
}

#content a:hover {
  color: #455A64;
  transition: color 300ms
}

#content ul li {
  display: inline-block;
  padding: 0 5px;
}

table td {
  padding: 5px;
  margin: 5px;
  vertical-align: top;
}

.no-top-padding {
  padding: 0px 5px 5px 5px;
}

.button {
    background-color: #4ecdc4;
    border-color: #45b7af;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.button a {
    color: #00AA8D;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

